@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Noto Sans', sans-serif;
}

.addTask {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.addTask input{
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
}

.addTask textarea{
  padding: 1.2rem 0.5rem;
  border-radius: 10px;
  outline: none;
}

.addTask button{
  display: flex;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid rgb(255, 255, 255);
  margin: 0;
  align-self: center;
  cursor: pointer;
  outline: none;
}

.addTask button:hover{
  background-color: rgb(29, 107, 202);
  color: rgb(255, 255, 255);
}

.addTask button:focus{
  border: 2px solid rgb(226, 94, 24);
}