.task {
  display: flex;
  margin: 0;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.task_checkbox{
  height: 20px;
  width: 20px;
}

.task_body{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.task-data{
  
}

.task_completed {
  background-color: rgb(178, 255, 160);
}